.DS_Store
/app/api/.idea
*.pyc
*.xkt
*.db
/.idea
app/api/Thesis.db-journal
/app/api/uploads
/app/api/bim
*.svg
!app/xeokit/assets/icon.svg
app/api/uv.lock
*.frag
*.jar
*.glb
*.bib
/articles
*.ifc
*.zip
*.pdf
