.projects-list-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    gap: 2em;
    background-color: var(--subtle-color);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    background-color: var(--subtle-color);
    color: var(--text-color);
}

.error-text {
    color: var(--error-color);
}
