.background {
    position: fixed;
    z-index: 200000;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transition: visibility 0s, opacity 0.3s ease-out;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.visible {
    visibility: visible;
    opacity: 1;
}

.image {
    z-index: 200001;
    display: flex;
    overflow: auto;
    max-width: 90%;
    max-height: calc(90% - 60px);
    border-radius: 16px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px black;
}

.close {
    position: fixed;
    z-index: 200002;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    background-color: var(--background-color);
    box-shadow: 0 0 5px black;
}

.close > svg {
    width: 36px;
    height: 36px;
}
