.container {
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 270px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48px;
    height: 44px;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    border: 2px solid var(--text-color);
    border-radius: 8px;
    background: var(--light-background-color);
    gap: 6px;
}

.toggle-button:hover {
    background: var(--subtle-color);
}

.toggle-button > span {
    height: 3px;
    transition: all 0.3s ease-out;
    border-radius: 3px;
    background: var(--text-color);
}

.toggle-button.open > span:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6.6px);
}

.toggle-button.open > span:nth-child(2) {
    opacity: 0;
}

.toggle-button.open > span:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6.6px);
}

.panel {
    position: absolute;
    top: 55px;
    left: 2px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-out;
    opacity: 1;
    gap: 10px;
}

.panel.hidden {
    visibility: hidden;
    opacity: 0;
}
