.xeokit-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.xeokit_canvas {
    width: 100%;
    height: 100%;
}

.navCubeCanvas {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    max-width: 50vw;
    height: 250px;
    max-height: 50vh;
}

.navCubeCanvas.picked-element {
    right: 360px;
}

.elementInfo {
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    overflow-y: auto;
    width: 300px;
    max-height: 40vh;
    padding: 10px;
    color: white;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
}

.treeViewContainer {
    position: absolute;
    top: 60px;
    left: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    width: 350px;
    max-height: calc(100% - 104px);
    padding-right: 10px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
}

.treeViewContainer ul {
    list-style: none;
}

.treeViewContainer ul li {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
}

.treeViewContainer ul li a {
    position: absolute;
    left: -1.5em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    text-decoration: none;
    pointer-events: all;
    color: #000000;
    border-radius: 50%;
    background-color: #eeeeee;
}

.treeViewContainer ul li a.plus {
    pointer-events: all;
    background-color: #ddeedd;
}

.treeViewContainer ul li a.minus {
    pointer-events: all;
    background-color: #eeeeee;
}

.treeViewContainer ul li a:active {
    top: 1px;
    pointer-events: all;
}

.treeViewContainer ul li span:hover {
    padding-left: 2px;
    cursor: pointer;
    pointer-events: all;
    color: white;
    background: black;
}

.treeViewContainer ul li span {
    /*display: inline-block;*/
    width: calc(100% - 50px);
    height: 23px;
    padding-left: 2px;
    pointer-events: all;
}

.treeViewContainer .highlighted-node {
    padding-right: 5px;
    padding-left: 1px;
    pointer-events: all;
    color: black;
    border: black solid 1px;
    background: yellow;
}
