@import "components/Xeokit.css";

:root {
    --background-color: #1E1E1E;
    --text-color: rgba(255, 255, 255, 0.87);
    --link-color: #40aafd;
    --subtle-color: #00693C;
    --light-background-color: #929292;
    --error-color: #A71930;
}

body {
    font-family: sans-serif;
    margin: 0 !important;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: #40aafd;
}

a:hover {
    text-decoration: underline;
}

.leaflet-container {
    height: 100%;
}
