@import "components/Xeokit.css";

:root {
    --background-color: #00693c;
    --text-color: #e1e1e1;
    --link-color: #40aafd;
    --subtle-color: #a71930;
    --light-background-color: #1e1e1e;
    --error-color: #d66073;
}

body {
    font-family: sans-serif;
    margin: 0 !important;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: #40aafd;
}

a:hover {
    text-decoration: underline;
}

.leaflet-container {
    height: 100%;
}
